:root {
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  --hover-transition: 0.4s;
  --active-transition: 0.6s;

  --brand-color-25: #f5feff;
  --brand-color-50: #ecfdff;
  --brand-color-100: #cff9fe;
  --brand-color-200: #a5f0fc;
  --brand-color-300: #a5f0fc;
  --brand-color-400: #22ccee;
  --brand-color-500: #06aed4;
  --brand-color-600: #088ab2;
  --brand-color-700: #0e7090;
  --brand-color-800: #155b75;
  --brand-color-900: #164c63;
  --brand-color-950: #0d2d3a;

  --blue-950: #082130;

  --black-10: rgba(0, 0, 0, 0.1);

  --white: #ffffff;
  --white-10: rgba(255, 255, 255, 0.1);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-90: rgba(255, 255, 255, 0.9);

  --gray-50: #fafaf9;
  --gray-200: #e7e5e4;
  --gray-700: #44403c;

  --pink-50: #fff1f1;
  --pink-700: #c11415;

  --text-white: #ffffff;
  --primary-text: #1c1917;
  --secondary-text: #44403c;
  --tertiary-text: #57534e;
  --placeholder-text: #79716b;
  --error-text: #e04f16;
  --warning-text: #dd7a02;
  --success-text: #4f7a21;

  --success-50: #f5fbee;
  --success-100: #e6f4d7;
  --success-400: #86cb3c;
  --success-500: #669f2a;
  --success-700: #3f621a;

  --warning-100: #fff5c6;
  --warning-400: #ffc72c;
  --warning-500: #b75506;

  --primary-text-on-brand: #ffffff;
  --tertiary-text-on-brand: #a5f0fc;

  --primary-background: #ffffff;
  --secondary-background: #fafaf9;
  --tertiary-background: #f5f5f4;
  --brand-section-background: #155b75;
  --brand-solid-background: #088ab2;
  --active-background: #fafaf9;

  --primary-border: #d7d3d0;
  --secondary-border: #e7e5e4;
  --tertiary-border: #f5f5f4;
  --brand-border: #06aed4;

  --container-padding-mobile: 16px;
  --container-padding-desktop: 32px;
  --container-max-width-desktop: 1280px;

  --width-xxs: 320px;

  --spacing-none: 0px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-7xl: 64px;
  --spacing-8xl: 80px;
  --spacing-9xl: 96px;
  --spacing-10xl: 128px;
  --spacing-11xl: 160px;

  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 9999px;

  --text-xs: 12px;
  --text-lineheight-xs: 18px;

  --text-sm: 14px;
  --text-lineheight-sm: 22px;

  --text-md: 16px;
  --text-lineheight-md: 24px;

  --text-lg: 18px;
  --text-lineheight-lg: 28px;

  --text-xl: 20px;
  --text-lineheight-xl: 30px;

  --display-xs: 24px;
  --display-lineheight-xs: 32px;

  --display-sm: 30px;
  --display-lineheight-sm: 38px;

  --display-md: 36px;
  --display-lineheight-md: 44px;

  --display-lg: 48px;
  --display-lineheight-lg: 60px;

  --display-xl: 60px;
  --display-lineheight-xl: 72px;

  --display-2xl: 72px;
  --display-lineheight-2xl: 90px;

  --display-hero: 120px;
  --display-lineheight-hero: 128px;

  --shadow-color-xs: rgba(10, 13, 18, 0.05);
  --shadow-xs: 0 1px 2px 0 #{var(--shadow-color-xs)};

  --shadow-color-md-01: rgba(10, 13, 18, 0.1);
  --shadow-color-md-02: rgba(10, 13, 18, 0.06);
  --shadow-md:
    0 4px 6px -1px #{var(--shadow-color-md-01)}, 0 2px 4px -2px #{var(--shadow-color-md-02)};

  --shadow-color-lg-01: rgba(10, 13, 18, 0.08);
  --shadow-color-lg-02: rgba(10, 13, 18, 0.03);
  --shadow-color-lg-03: rgba(10, 13, 18, 0.04);
  --shadow-lg:
    0 12px 16px -4px #{var(--shadow-color-lg-01)}, 0 4px 6px -2px #{var(--shadow-color-lg-02)},
    0 2px 2px -1px #{var(--shadow-color-lg-03)};

  --shadow-color-xl-01: rgba(10, 13, 18, 0.08);
  --shadow-color-xl-02: rgba(10, 13, 18, 0.03);
  --shadow-color-xl-03: rgba(10, 13, 18, 0.04);
  --shadow-xl:
    0px 20px 24px -4px #{var(--shadow-color-xl-01)}, 0px 8px 8px -4px #{var(--shadow-color-xl-02)},
    0px 3px 3px -1.5px #{var(--shadow-color-xl-03)};

  --backdrop-blur-lg: 12px;
  --svg-color: #a9a29d;
}
